README.md
yarn.lock

*.css
*.d.ts
*.html
*.ico
*.lock
*.log
*.pkg
*.png
*.sh
*.svg
*.ttf
*.txt
*.yaml
*.yml
*ignore
*woff2
*.xml


.env*
.gitignore
.prettierignore
.husky/
.strapi/
.yarn/

node_modules/
scripts/